<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" type="image/x-icon" href="/logo.ico">
    <title>Myshowtime Login</title>
</head>
<body id="bg_img">
    <div class="mx-auto  w-[500px] h-[500px] mt-24">
    <div class="bg-white shadow-md rounded-lg px-8 pt-6 pb-8 mb-4 flex flex-col">
    <div class="mb-4">
      <label class="block text-grey-darker text-sm font-bold mb-2" for="email">
        Email
      </label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="email" type="text" placeholder="email">
    </div>
    <div class="mb-4">
      <p class="text-gray-500 text-sm">To reset your password, please provide us with your email address. We will send you an email with a link to reset your password.</p>
    </div>
    <div class="flex items-center justify-between">
      <button onclick='forgotPassword()' class="bg-blue-600 hover:bg-blue-dark text-white font-bold py-2 px-4 rounded" type="button">
        Send
      </button>
      <a class="inline-block align-baseline font-bold text-sm text-blue hover:text-blue-darker" href="/">
        return
      </a>
    </div>
</div>
</div>
  
</body>
</html>




<script>
function forgotPassword(){

email=document.getElementById('email').value

console.log(email)
}


</script>


<style>
#bg_img{
    background-image: url("https://images.unsplash.com/photo-1613093335399-829e30811789?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
    }
</style>